In [7]:
import pandas as pd
import numpy as np

INPUT = "netflix_data.csv"
OUTPUT = "netflix_data_cleaned.csv"

try:
    df = pd.read_csv(INPUT)
    print("File loaded with default encoding.")
except:
    df = pd.read_csv(INPUT, encoding="latin1")
    print("File loaded with latin1 encoding.")

print("Initial shape:", df.shape)

df.columns = [c.strip().lower().replace(" ", "_") for c in df.columns]

for col in df.select_dtypes(include=["object"]).columns:
    df[col] = df[col].astype(str).str.strip()
    df[col] = df[col].replace({"": np.nan, "nan": np.nan, "none": np.nan, "na": np.nan})
    df[col] = df[col].where(df[col].isnull(), df[col].str.lower())

if "country" in df.columns:
    def clean_country(x):
        if pd.isna(x): 
            return x
        x = x.strip().lower()
        if x in ("usa", "us", "u.s.", "u.s.a"):
            return "united states"
        if x in ("uk", "england"):
            return "united kingdom"
        return x
    df["country"] = df["country"].apply(clean_country)

date_cols = [c for c in df.columns if "date" in c or "added" in c]
for c in date_cols:
    df[c] = pd.to_datetime(df[c], dayfirst=True, errors="coerce")
    print("Parsed date:", c)

for c in df.columns:
    if pd.api.types.is_datetime64_any_dtype(df[c]):
        df[c + "_clean"] = df[c].dt.strftime("%d-%m-%Y")
        df[c + "_clean"] = df[c + "_clean"].replace("NaT", np.nan)
        print("Created date_clean column:", c + "_clean")

print("\nMissing before filling:")
print(df.isnull().sum().sort_values(ascending=False).head(20))

for c in df.columns:
    if df[c].isnull().sum() > 0:
        if pd.api.types.is_numeric_dtype(df[c]):
            df[c] = df[c].fillna(df[c].median())
            print("Filled numeric:", c)
        elif pd.api.types.is_datetime64_any_dtype(df[c]):
            mode_vals = df[c].mode(dropna=True)
            if not mode_vals.empty:
                df[c] = df[c].fillna(mode_vals.iloc[0])
                print("Filled date:", c)
        else:
            mode_vals = df[c].mode(dropna=True)
            if not mode_vals.empty:
                df[c] = df[c].fillna(mode_vals.iloc[0])
                print("Filled text:", c)
            else:
                df[c] = df[c].fillna("unknown")
                print("Filled text with unknown:", c)

before = len(df)
df = df.drop_duplicates()
print("Removed duplicates:", before - len(df))

for c in df.columns:
    if df[c].dtype == "object":
        s = df[c].str.replace(",", "", regex=False)
        converted = pd.to_numeric(s, errors="coerce")
        if converted.notnull().sum() > len(df) * 0.5:
            df[c] = converted
            print("Converted to numeric:", c)

if "duration" in df.columns:
    ex = df["duration"].astype(str).str.extract(r'(?P<value>\d+)\s*(?P<unit>\w+)?', expand=True)
    df["duration_value"] = pd.to_numeric(ex["value"], errors="coerce").astype("Int64")
    df["duration_unit"] = ex["unit"].fillna("unknown").str.lower()
    print("Extracted duration fields.")

print("\nFinal shape:", df.shape)
df.to_csv(OUTPUT, index=False)
print("Saved cleaned file to:", OUTPUT)

File loaded with default encoding.
Initial shape: (7787, 11)

C:\Users\Nandh\AppData\Local\Temp\ipykernel_228\695469481.py:37: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[c] = pd.to_datetime(df[c], dayfirst=True, errors="coerce")

Parsed date: date_added
Created date_clean column: date_added_clean

Missing before filling:
director            2389
cast                 718
country              507
date_added            10
date_added_clean      10
show_id                0
type                   0
title                  0
release_year           0
duration               0
description            0
genre                  0
dtype: int64
Filled text: director
Filled text: cast
Filled text: country
Filled date: date_added
Filled text: date_added_clean
Removed duplicates: 0
Extracted duration fields.

Final shape: (7787, 14)
Saved cleaned file to: netflix_data_cleaned.csv

In [2]:
import pandas as pd


df = pd.read_csv("netflix_data_cleaned.csv")

print("=== DATASET FEATURES ===\n")


print("Shape of dataset (rows, columns):", df.shape, "\n")


print("Column Names:")
print(list(df.columns), "\n")

print("Data Types:")
print(df.dtypes, "\n")


print("Missing Values in Each Column:")
print(df.isnull().sum(), "\n")

print("Basic Summary Statistics:")
print(df.describe(include="all"), "\n")

# preview first 5 rows
print("First 5 Rows of Dataset:")
print(df.head())

=== DATASET FEATURES ===

Shape of dataset (rows, columns): (7787, 14)

Column Names:
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration', 'description', 'genre', 'date_added_clean', 'duration_value', 'duration_unit']

Data Types:
show_id             object
type                object
title               object
director            object
cast                object
country             object
date_added          object
release_year         int64
duration             int64
description         object
genre               object
date_added_clean    object
duration_value       int64
duration_unit       object
dtype: object

Missing Values in Each Column:
show_id             0
type                0
title               0
director            0
cast                0
country             0
date_added          0
release_year        0
duration            0
description         0
genre               0
date_added_clean    0
duration_value      0
duration_unit       0
dtype: int64

Basic Summary Statistics:
       show_id   type         title                director  \
count     7787   7787          7787                    7787
unique    7787      2          7786                    4048
top         s1  movie  consequences  raúl campos, jan suter
freq         1   5377             2                    2407
mean       NaN    NaN           NaN                     NaN
std        NaN    NaN           NaN                     NaN
min        NaN    NaN           NaN                     NaN
25%        NaN    NaN           NaN                     NaN
50%        NaN    NaN           NaN                     NaN
75%        NaN    NaN           NaN                     NaN
max        NaN    NaN           NaN                     NaN

                      cast        country  date_added  release_year  \
count                 7787           7787        7787   7787.000000
unique                6831             81        1512           NaN
top     david attenborough  united states  2020-01-01           NaN
freq                   736           3390         129           NaN
mean                   NaN            NaN         NaN   2013.932580
std                    NaN            NaN         NaN      8.757395
min                    NaN            NaN         NaN   1925.000000
25%                    NaN            NaN         NaN   2013.000000
50%                    NaN            NaN         NaN   2017.000000
75%                    NaN            NaN         NaN   2018.000000
max                    NaN            NaN         NaN   2021.000000

           duration                                        description  \
count   7787.000000                                               7787
unique          NaN                                               7769
top             NaN  multiple women report their husbands as missin...
freq            NaN                                                  3
mean      69.122769                                                NaN
std       50.950743                                                NaN
min        1.000000                                                NaN
25%        2.000000                                                NaN
50%       88.000000                                                NaN
75%      106.000000                                                NaN
max      312.000000                                                NaN

         genre date_added_clean  duration_value duration_unit
count     7787             7787     7787.000000          7787
unique      35             1512             NaN             1
top     dramas       01-01-2020             NaN       unknown
freq      1384              129             NaN          7787
mean       NaN              NaN       69.122769           NaN
std        NaN              NaN       50.950743           NaN
min        NaN              NaN        1.000000           NaN
25%        NaN              NaN        2.000000           NaN
50%        NaN              NaN       88.000000           NaN
75%        NaN              NaN      106.000000           NaN
max        NaN              NaN      312.000000           NaN

First 5 Rows of Dataset:
  show_id     type  title                director  \
0      s1  tv show     3%  raúl campos, jan suter
1      s2    movie   7:19       jorge michel grau
2      s3    movie  23:59            gilbert chan
3      s4    movie      9             shane acker
4      s5    movie     21          robert luketic

                                                cast        country  \
0  joão miguel, bianca comparato, michel gomes, r...         brazil
1  demián bichir, héctor bonilla, oscar serrano, ...         mexico
2  tedd chan, stella chung, henley hii, lawrence ...      singapore
3  elijah wood, john c. reilly, jennifer connelly...  united states
4  jim sturgess, kevin spacey, kate bosworth, aar...  united states

   date_added  release_year  duration  \
0  2020-08-14          2020         4
1  2016-12-23          2016        93
2  2018-12-20          2011        78
3  2017-11-16          2009        80
4  2020-01-01          2008       123

                                         description             genre  \
0  in a future where the elite inhabit an island ...  international tv
1  after a devastating earthquake hits mexico cit...            dramas
2  when an army recruit is found dead, his fellow...     horror movies
3  in a postapocalyptic world, rag-doll robots hi...            action
4  a brilliant group of students become card-coun...            dramas

  date_added_clean  duration_value duration_unit
0       14-08-2020               4       unknown
1       23-12-2016              93       unknown
2       20-12-2018              78       unknown
3       16-11-2017              80       unknown
4       01-01-2020             123       unknown